# Maven
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Wrapper
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
.settings/
*.iml
.classpath
.project
.factorypath

# Logs
*.log

# Build files
*.class
*.jar

# OS files
.DS_Store

# Sensitive files
application.properties